{% extends 'base.html' %}


{% block content %}

<div class ="text-center">
  <p id = "intro" class ="text-center mx-auto">You are logged in!</p>

  {% if g.user['verified'] == 0 %}
    <a href="{{ url_for('roommeet.create_profile') }}">Create Profile</a>
  {% else %}
  <a class="btn btn-info my-3" href="{{ url_for('algorithm.matchlike', id=0, liketype=0 ) }}">Start Matching People</a>
  <br>
  <a class="btn btn-info" href="{{ url_for('algorithm.houselike', id=0, liketype=0 ) }}">Start Matching Houses</a>
  {% endif %}

</div>

{% endblock %}