body {
    background:  linear-gradient(45deg, #19dfc5, #f84646) fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.middle {
    position: fixed;
    top: 10%;
    left: 40%;

    font-size: 500%;
}
#intro {
    margin-top: 18%;
    background: #0bdfdf;
    margin-right: 70%;
    text-align: center;
}

.list {
    margin-left: 60%;
}

.SignInForm {
    margin-top: 15%;
}
.NoDecor {
    text-decoration: none !important;
    
}

.submiddle {
    position: fixed;
    top: 20%;
    left: 43%;
    font-size: 100%;
}