body {
    background: #00b5d4;
    font-family: Arial, Helvetica, sans-serif;
}

.middle {
    position: fixed;
    top: 10%;
    left: 40%;

    font-size: 500%;
}
#intro {
    margin-top: 18%;
    background: #008ea7;
    margin-right: 70%;
    text-align: center;
}

.list {
    margin-left: 60%;
}