{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Housing{% endblock %}</h1>
{% endblock %}

<br>

{% block content %}
    

<div class="boxed">
  <div class="container">
    <div class= "user-details">
      <form method="post" enctype = "multipart/form-data">
        <h1>Changing Housing</h1>
        <div class = "input-box">
        <label for="housing_number">Housing Number</label>
        <input name="housing_number" id="housing_number" type="number" value="{{ housing['housing_number']}}" required>

        <label for="apt_number">Apt Number</label>
        <input name="apt_number" value="{{ housing['apt_number']}}" id="apt_number">

        <label for="street">Street</label>
        <input name="street" value="{{ housing['street']}}" id="street">

        <label for="city">City</label>
        <input name="city" value="{{ housing['city']}}" id="city" required>

        <div class = "input-box">
          <label for="state">State</label>
          <select name="state" id="state">
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AR">AR</option>	
            <option value="AZ">AZ</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DC">DC</option>
            <option value="DE">DE</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="IA">IA</option>	
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="MA">MA</option>
            <option value="MD">MD</option>
            <option value="ME">ME</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MO">MO</option>	
            <option value="MS">MS</option>
            <option value="MT">MT</option>
            <option value="NC">NC</option>	
            <option value="NE">NE</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>			
            <option value="NV">NV</option>
            <option value="NY">NY</option>
            <option value="ND">ND</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VT">VT</option>
            <option value="VA">VA</option>
            <option value="WA">WA</option>
            <option value="WI">WI</option>	
            <option value="WV">WV</option>
            <option value="WY">WY</option>
          </select>
        </div>
          

        <label for="zipcode">Zipcode</label>
        <input name="zipcode" type="number" value="{{ housing['zipcode']}}" id="zipcode" required>

        

        <label for="photo">Photo</label>
        <input type="file" id="photo" value="{{ url_for('static', filename=photopath ) }}" name="photo" accept="image/*" required>


        <label for="description">Description</label>
        <textarea name="description" id="description"> </textarea>



        <label for="genderPref">Gender Preferences:</label>
        <select name="genderPref" id="genderPref">
          <option value="C">Co-Ed</option>
          <option value="M">Males Only</option>
          <option value="F">Females Only</option>
          <option value="I">Independent</option>
        </select>


        <label for="minage">Minimum Age</label>
        <input name="minage" type="number" value="{{ housing['ageMin']}}" id="minage" required>

        <label for="maxage">Maximum Age</label>
        <input name="maxage" type="number" value="{{ housing['ageMax']}}" id="maxage" required>

        <label for="rent">Rent</label>
        <input name="rent" type="number" value="{{ housing['rent']}}" id="rent" required>

        
        <div class = "input-box">
          <label for="pets">Pets:</label>
          <select name="pets" id="pets">
            <option value="Y">Yes</option>
            <option value="N">No</option>
          </select>
      </div>

        <input type="submit" value="Change Housing">


      </form>


      <a href="{{ url_for('housing.delete_housing', houseid=(housing['housing_id'])) }}">Delete Housing</a>
    </div>
    </div>
  </div>
</div>

{% endblock %}
