{% extends 'base.html' %}


{% block content %}
<a href="{{ url_for('algorithm.match_profile', profid=(housing['poster_id'])) }}">View Post Owner</a>
<br>
{{housing['street'] }}
<br>
<img src="{{ url_for('static', filename=photopath ) }}" ></img>
<br>

{% if g.user['id'] == housing['poster_id'] %}
<a href="{{ url_for('housing.change_housing', houseid=(housing['housing_id'])) }}">Change Housing</a>
<a href="{{ url_for('algorithm.houseselectors', id=(housing['housing_id'])) }}">View Selectors</a>
{% endif %}


{% endblock %}
