body {
    background:  linear-gradient(45deg, #19dfc5, #f84646) fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.middle {

    margin-top: 00%;
    margin-bottom: 00%;
    text-align: center;

    font-size: 500%;
}
#intro {
    margin-top: 7%;
    background: #0bdfdf;
    margin-right: 70%;
    padding: 10px;
}

.list {
    margin-left: 60%;
    font-size: 150%;
    background: #dfe0f3;
}

.sign-inForm {
   
    border-top: 10%;
}
.NoDecor {
    text-decoration: none !important;
    
}

.submiddle {
    text-align: center;
    font-size: 100%;
}
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.boxed{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #19dfc5, #f84646);
}
.boxed .container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
}
.boxed .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative
}
.boxed .container  form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}
 .user-details .input-box details{
     display: block;
     font-weight: 500;
     margin-bottom: 5px;
 }
.user-details .input-box input{
   height: 45px;
   width: 100%;
   outline: none;
   border-radius: 5px;
   border: 1px solid #ccc;
   padding-left: 15px;
   font-size: 16px;
   border-bottom-width: 2px;
   transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#f84646;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color:#f84646;
    background: #19dfc5;
}

form input[type="radio"]{
    display: none;
}
