{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="oldpass">Old Password</label>
    <input type="password" name="oldpass" id="oldpass" required>
    <label for="newpass">New Password</label>
    <input type="password" name="newpass" id="newpass" required>
    <label for="newpassc">Confirm New Password</label>
    <input type="password" name="newpassc" id="newpassc" required>
    
    <input type="submit" value="Create New Password">
  </form>

{% endblock %}
