{% extends 'base.html' %}

{% block content %}
  <form method="post">
    <div class="boxed">
      <div class="container">
        <div class= "user-details">
          <div class = "input-box">
            <h1>Change Password</h1>
            <label for="oldpass">Old Password</label>
            <input type="password" name="oldpass" id="oldpass" required>
            <label for="newpass">New Password</label>
            <input type="password" name="newpass" id="newpass" required>
            <label for="newpassc">Confirm New Password</label>
            <input type="password" name="newpassc" id="newpassc" required>
          </div>
          <input type="submit" value="Change Account">
        <div>
      <div>
    </div>
  </form>
{% endblock %}
