{% extends 'base.html' %}

{% block content %}
  </form>
  <form method="post">
    <div class = "boxed">
      <div class = "container">
        <div class="title">Log In</div>
        <form action = "#">
          <label for="username">Username</label>
          <input name="username" id="username" required>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
            <div class="button">
              <input type="submit" value="Log In">
            </div>
        </form>
    </div>
    </div>
  </form>
{% endblock %}
