{% extends 'base.html' %}

{% block content %}
<form method="post">
  <div class="boxed">
      <div class="container">
        <div class= "user-details">
        <h1>Log In</h1>  
        <div class = "input-box">
          <label for="username" class="details">Username</label>
          <input name="username" id="username" placeholder = "Enter Your Username" required>
        <div>
        
        <div class = "input-box">
          <label for="password" class="details">Password</label>
          <input type="password" name="password" id="password" placeholder= "Enter your Password"required>
        <div>
      </div>
    </div>
  </div>
  <input type="submit" value="Log In">
</form>

  
{% endblock %}
