{% extends 'base.html' %}


{% block content %}
<div class ="boxed">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                    
                <img alt="Avatar" src="{{ url_for('static', filename=photopath ) }}" ></img>
            </div>
            <div class="flip-card-back">
                <p>
                    <h1>{{ profile['first_name'] }} {{ profile['middle_name'] }} {{ profile['last_name'] }}</h1>
                    <h2>Occupation: {{ profile['occupation']}} </h2> 
                    <h3>Age: {{ age }} </h3>
                    <p>Age Range:  {{profile['ageMin']}} - {{profile['ageMax']}}</p>

                    {{ profile['city'] }}, {{ profile['state'] }} {{ profile['zipcode'] }}

                    <br>

                    {% if profile['description'] != "" %}
                    <h4>Description</h4>
                    {{profile['description']}}
                    {% endif %}

                    <br>

                    <h4>Rent Range</h4>
                    $ {{profile['priceMin']}} - {{profile['priceMax']}}

                    <br>

                    {% if profile['genderPref'] == 'C' %}
                        Co-ed roommates
                    {% elif profile['genderPref'] == 'M' %}
                        Prefers male roommates
                    {% elif profile['looking'] == 'F' %}
                        Prefers female roommates
                    {% elif profile['looking'] == 'I' %}
                        Prefers to live independent
                    {% endif %}

                    {% if profile['pets'] == 'Y' %}
                        Cool with pets!
                    {% else %}
                        No Pets!
                    {% endif %}

                    <br>

                    {% if profile['looking'] == 'B' %}
                        Looking for roommates and housing
                    {% elif profile['looking'] == 'H' %}
                        Looking for housing only
                    {% elif profile['looking'] == 'R' %}
                        Looking for roommates only
                    {% endif %}




                </p>
            </div>
        </div>
    </div>

    
    
</div>

<div class = "ignore-like">
    <a class="btn btn-info" href="{{ url_for('algorithm.matchlike', id=(profile['user_id']), liketype=0 ) }}">&#10060</a>
    <a class="btn btn-info" href="{{ url_for('algorithm.matchlike', id=(profile['user_id']), liketype=1) }}">&#128151</a>
</div>





{% endblock %}
