{% extends 'base.html' %}


{% block content %}
<div class="boxed">
    <div class="container">
        <div class= "user-details">
            <h1>{{ profile['first_name'] }} {{ profile['middle_name'] }} {{ profile['last_name'] }}</h1>
            <br>
            <img src="{{ url_for('static', filename=photopath ) }}" ></img>
            <br>
            {{ profile['occupation']}}

            {{ age }}

            <a href="{{ url_for('algorithm.matchlike', id=(profile['user_id']), liketype=0 ) }}">Ignore</a>

            <a href="{{ url_for('algorithm.matchlike', id=(profile['user_id']), liketype=1) }}">Like</a>
        </div>
    </div>
</div>




{% endblock %}
