{% extends 'base.html' %}


{% block content %}

<div class="boxed">
    <div class="container">
        <div class= "user-details">
            <h1>Your Matches</h1>
        </div>
    </div>
</div>

{% for m in mlist %}

<div class="boxed">
    <div class="container">
        <div class= "user-details">
            
            <a href="{{ url_for('algorithm.match_profile', profid=(m['user_id'])) }}">{{ m['first_name'] }} {{ m['middle_name'] }} {{ m['last_name'] }}</a>
            {{ m['phone'] }}
            <br>            
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}
